@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html, body {
    height: 100%;
    margin: 0;
    background-image: url(/img/dorocky_background.png);
    /* position: absolute; */
}


li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 20px;
    color:#e6c667;
    text-decoration: none;
}

#main_header {
    margin: 0 1rem 1rem 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.logo {
    cursor: pointer;
    width: auto;
    height: 8rem;
}

.logo:hover {
    transform: scale(101%);
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

.nav_button {
    border: none;
    cursor: pointer;
    background-color: white;

}

.main_photo_section {
    width: 100%;
    margin-top: 5rem;
}

.main_photo {
    display: block;
    margin: auto;
    border: 2px solid #ddd;
    padding: 5px;
    height: 20rem;
    width: auto;
    border-radius: 15%;
    box-shadow: 15px 15px 15px rgba(1, 1, 1, 0.185);
}

.main_photo:hover {
    height: 22rem;
    width: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.inner_footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.writing_logo {
    width: 20rem;
    height: auto;
}